@media only screen and (max-width: 768px) {
  header .nav-logo {
    width: 106px;
    background: linear-gradient(
      to bottom right,
      #c09,
      #f42 85%
    );
    padding: 15px 20px;
    position: relative;
    right: 20px;
  }
  .nav-logo img {
    width: 66px;
  }

  header .nav-top {
    display: none;
  }

  .nav-top .left-list li a {
    display: none;
  }
  .nav-top .right-list li a {
    display: none;
  }

  #menu {
    position: absolute;
    right: 10px;
    padding-left: 15px;
    font-size: 24px;
    color: #f42;
  }

  #search {
    position: absolute;
    left: 400px;
    border-right: 1px solid;
  }

  .nav-mid li a {
    display: none;
  }

  .yellow-nav a h3 {
    position: relative;
    left: 45%;
  }

  main {
    position: relative;
    bottom: 30px;
  }

  main .top-section-container {
    position: relative;
    height: 830px;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 32%);
  }

  main .top-section-container .image1 {
    grid-area: 1 / 1 / 2 / 2;
  }

  main .top-section-container .image1 a h4 {
    position: relative;
    top: 190px;
    font-size: 12px;
  }

  main .top-section-container .image1 a h2 {
    width: 100%;
    display: block;
    position: relative;
    top: 200px;
    font-size: 16px;
    font-weight: 900;
  }

  main .top-section-container .image1 p {
    width: 100%;
    display: block;
    position: relative;
    top: 205px;
    right: 1px;
    font-size: 14px;
  }

  main .top-section-container .image2 h4 {
    position: relative;
    top: 190px;
    font-size: 12px;
  }

  main .top-section-container .image2 a h2 {
    width: 100%;
    display: block;
    position: relative;
    top: 200px;
    font-size: 16px;
    font-weight: 900;
  }

  main .top-section-container .image2 p {
    width: 100%;
    display: block;
    position: relative;
    top: 205px;
    right: 1px;
    font-size: 14px;
  }
  main .top-section-container .image3 h4 {
    position: relative;
    top: 190px;
    font-size: 12px;
  }

  main .top-section-container .image3 a h2 {
    width: 100%;
    display: block;
    position: relative;
    top: 200px;
    font-size: 16px;
    font-weight: 900;
  }

  main .top-section-container .image3 p {
    width: 100%;
    display: block;
    position: relative;
    top: 205px;
    right: 1px;
    font-size: 14px;
  }

  main .top-section-container .image2 {
    grid-area: 2 / 1 / 3 / 2;
  }

  main .top-section-container .image3 {
    grid-area: 3 / 1 / 4 / 2;
  }

  .top-section-container .image1 small {
    display: none;
  }

  main .latest-news-container {
    width: 98%;
    height: 700px;
    grid-template-columns: 200px;
    grid-template-rows: repeat(8, 12.5%);
    position: relative;
    gap: 0;
  }

  main .latest-news-container h2 {
    position: absolute;
    top: -30px;
    left: -164px;
  }

  main .latest-news-container .latestNews1 {
    width: 100%;
    grid-area: 1 / 1 / 2 / 2;
    background-size: 70% 70%;
    background-color: #c09;
  }

  main .latest-news-container .latestNews1 h3 {
    width: 70%;
    font-size: 10px;
    position: absolute;
    left: 150px;
    top: 0;
    color: #000;
  }

  /* main .latest-news-container .latestNews1 small {
    width: 30%;
    position: absolute;
    top: 30px;
    left: 160px;
  } */

  main .latest-news-container .latestNews2 {
    grid-area: 2 / 1 / 3 / 2;
    background-size: 70% 40%;
  }

  /* main .latest-news-container .latestNews2 h3 {
    width: 70%;
    font-size: 10px;
    position: absolute;
    left: 150px;
    top: 103px;
    color: #000;
  }

  main .latest-news-container .latestNews2 small {
    width: 30%;
    position: absolute;
    top: 133px;
    left: 160px;
  } */

  main .latest-news-container .latestNews3 {
    grid-area: 3 / 1 / 4 / 2;
    background-size: 70% 40%;
  }
  /* 
  main .latest-news-container .latestNews3 h3 {
    width: 70%;
    font-size: 10px;
    position: absolute;
    left: 160px;
    top: 204px;
    color: #000;
  }

  main .latest-news-container .latestNews3 small {
    width: 30%;
    position: absolute;
    top: 234px;
    left: 160px;
  } */

  main .latest-news-container .latestNews4 {
    grid-area: 4 / 1 / 5 / 2;
    background-size: 70% 40%;
  }

  /* main .latest-news-container .latestNews4 h3 {
    width: 70%;
    font-size: 10px;
    position: absolute;
    left: 160px;
    top: 305px;
    color: #000;
  }

  main .latest-news-container .latestNews4 small {
    width: 30%;
    position: absolute;
    top: 335px;
    left: 160px;
  } */

  main .latest-news-container .latestNews5 {
    grid-area: 5 / 1 / 6 / 2;
    background-size: 70% 40%;
  }

  /* main .latest-news-container .latestNews5 h3 {
    width: 70%;
    font-size: 10px;
    position: absolute;
    left: 160px;
    top: 408px;
    color: #000;
  }

  main .latest-news-container .latestNews5 small {
    width: 30%;
    position: absolute;
    top: 438px;
    left: 160px;
  } */

  main .latest-news-container .latestNews6 {
    grid-area: 6 / 1 / 7 / 2;
    background-size: 70% 40%;
  }
  /* 
  main .latest-news-container .latestNews6 h3 {
    width: 70%;
    font-size: 10px;
    position: absolute;
    left: 160px;
    top: 510px;
    color: #000;
  }

  main .latest-news-container .latestNews6 small {
    width: 30%;
    position: absolute;
    top: 540px;
    left: 160px;
  } */

  main .latest-news-container .latestNews7 {
    grid-area: 7 / 1 / 8 / 2;
    background-size: 70% 40%;
  }
  /* 
  main .latest-news-container .latestNews7 h3 {
    width: 70%;
    font-size: 10px;
    position: absolute;
    left: 160px;
    top: 611px;
    color: #000;
  }

  main .latest-news-container .latestNews7 small {
    width: 30%;
    position: absolute;
    top: 641px;
    left: 160px;
  } */

  main .latest-news-container .latestNews8 {
    grid-area: 8 / 1 / 9 / 2;
    background-size: 70% 40%;
  }

  /* main .latest-news-container .latestNews8 h3 {
    width: 70%;
    font-size: 10px;
    position: absolute;
    left: 160px;
    top: 0;
    color: #000;
  }

  main .latest-news-container .latestNews8 small {
    width: 30%;
    position: absolute;
    top: 30px;
    left: 160px;
  } */
}
