@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  /* Navbar Section */

  .yellow-nav {
    display: none;
  }

  .nav-mid {
    padding: 15px 20px;
  }

  /* Top Section Container */
  .top-section-container .article1 .article-text {
    position: absolute;
    top: 77%;
  }

  .article-heading {
    font-size: 14px;
  }

  .article-content {
    font-size: 24px;
  }

  .top-section-container .article2 .article2-text,
  .top-section-container .article3 .article2-text {
    top: 60%;
  }

  .article2-heading {
    font-size: 16px;
  }

  .article2-content {
    font-size: 18px;
  }

  .logo {
    display: none;
  }

  .date {
    display: none;
  }

  /* End of Top Section Container */

  /* Main Container */
  main {
    width: 95%;
  }

  /* End of Main Container */

  /* Start of last funding Rounds */

  .main-container #latest-funding-title {
    margin-top: 50px;
  }

  .fundingRounds h4 {
    padding-right: 20px;
    height: 100%;
  }

  .fundings-description {
    padding-right: 10px;
  }

  .fundingRounds ul li a {
    font-size: 12px;
  }

  .fundigs-ending p {
    font-size: 10px;
  }

  /* Articles Section */
  article .img-article-container {
    background-size: 100% 100%;
  }

  .articles header {
    bottom: 73%;
  }

  .articles header h5 {
    font-size: 10px;
  }

  .articles article header h4 {
    font-size: 14px;
  }

  .articles article small {
    font-size: 10px;
  }

  .latest-sub-article .item-img {
    width: 35%;
  }

  .article-description h6 {
    font-size: 14px;
    padding-bottom: 2px;
  }

  .article-description p {
    line-height: 13px;
    font-weight: 500;
  }
}
